<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		
		 <title>حسین شوشتری</title>
		
		 <meta name="description" content="حسین شوشتری - طراح وب سایت و توسعه دهنده وب سای ها،برنامه نویس تحت وب" />

		 <meta name="author" content="حسین شوشتریُ ، HSH، Hossein SHooshtari" />
		 
		 <!--//-->
		 <link rel="stylesheet" type="text/css" href="css/jquery.jscrollpane.css" media="all"/>
		 <link rel="stylesheet" href="css/prettyPhoto.css" type='text/css'>
		 <link rel="stylesheet" href="css/style.css" type='text/css'>
		 
		 <!--//-->
		 <script src="js/jquery-1.8.1.min.js"></script>
		 <script src="js/libs/modernizr-2.0.6.min.js"></script>
		 <script type="text/javascript" src="js/jquery.jscrollpane.js"></script> 
		 <script type="text/javascript" src="js/jquery.mousewheel.js"></script> 
		 <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
		 <script type="text/javascript" src="js/jquery.form.js"></script> 
		 <script type="text/javascript" src="js/jquery.easing.1.3.js"></script> 
		 <script type="text/javascript" src="js/jquery.ufvalidator-1.0.5.js"></script> 
		 <script type="text/javascript" src="js/jquery.tipsy.js"></script> 
		 <script type="text/javascript" src="js/jQueryRotate.2.1.js"></script> 
		 <script type="text/javascript" src="js/custom.js"></script>
		 
		 <script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-34830156-1']);
		  _gaq.push(['_setDomainName', 'project.pawthemes.com']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		
		 <!--//-->
	</head>
<body>
		 <!--//-->
<div class="metro-wrap" dir="rtl">
	<div class="container">
			 
			<!--====Header Start====-->
			 <header>
			 <div class="left"><a href="index.html" title="home"><img src="images/start.png" alt="" border='0' /><h1>Start</h1></a></div>
			 <div class="right"><h5>HSH - Hossein SHooshtari</h5><span style='width:auto;margin-left:100px;'> طراح و توسعه دهنده وب سایت </span></div>
			 </header> 
			<!--====Header End====-->
			
			<!--====Menu Start====-->
			 <section class="menu">
			 <div class="main-menu">
			 <a href="#contact" class="contact"><img src="images/contact.png" alt="contact" border='0' />تماس</a>
			 <a href="#portfolio" class="portfolio"><img src="images/portfolio.png" border='0' alt="portfolio" />نمونه کار</a>
			 <a href="#resume" class="resume"><img src="images/resume.png" alt="resume" border='0' />رزومه</a>
			 <a href="#about" class="about"><img src="images/about.png" alt="about" border='0' />درباره</a>
			 </div>
			 </section> 
			<!--====Menu End====-->
			
			<!--====About Start====-->
			 <section id="about"> <a href="javascript:void(0)" class="close"> </a>
			 <div class="block">
			 <h1 style="direction:rtl;text-align:justify" class="about divider">درباره </h1>
			 <h3 style="direction:rtl;text-align:justify">حسین شوشتری  طراح و توسعه دهنده وب سایت <img src="images/metroboy.png" alt="" class="image-left"></h3>
			 
			 <p style="direction:rtl;text-align:justify">اینجانب حسین شوشتری درسال 88  کار خود را در زمینه طراحی سایت های استاتیک شروع کردم و پس از گذراندن دوره های طراحی در آموزشگاه ها از جمله <a href="#"> مجتمع فنی تهران واحد کرج </a>موفق به اخذ مدارک ولازم در طراحی داینامیک سایت ها کار حرفه ای خود را در سال 90 شروع کردم. با توجه به نیاز امروز مشتریان و کاربران سایت همواره سعی بر آن داشتم کهه خود را به روز کرده و منطبق با متد های روز دنیا در امر طراحی و کدنویسی و سئو  پیش روم. پس از گذراندن تجربه های مفید در شرکت های بزرگ مفتخر به آموزش دوره های فشرده وب سایت می باشم. این دوره ها شامل موارد پایه ای آموزش سا طراحی سایت می باشد. برای طراحی سایت خود و اطلاع از شرایط برگرزاری کلاس ها به فرم تماس مراجعه کنید</p>
				 <div class="block-12 left">
				 <h3 style="direction:rtl;text-align:justify" class="divider-m">//تحصیلات</h3>
					 <ul style="direction:rtl;text-align:justify" class="info">
						 <li style="direction:rtl;float:right;" class="where left">دیپلم افتخار برنامه نویسی \ از موسسه علم وصنعت</li>
						 <li style="direction:rtl;float:right;" class="where left">اخذ کردانی کامپیوتر از دانشگاه آزاد / واحد کرج </li>
						 <li style="direction:rtl;float:right;" class="where left">اخذ مدرک طراحی استاتیک سایت / موسسه آموزشی سوره</li>
						 <li style="direction:rtl;float:right;" class="where left">اخذ مدک طراحی داینامیک سایت / مجتمع فنی تهران </li>
						 <li style="direction:rtl;float:right;" class="where left">اخذ کارشناسی کامپیوتر  / موسسه آموزش عالی صائب</li>
					 </ul>
				 </div>
			 
				 <div class="block-12 left last">
				 <h3 style="direction:rtl;text-align:justify" class="divider-m">//فعالیت ها</h3>
					 <ul style="direction:rtl;text-align:justify" class="info">
						 <li style="direction:rtl;float:right;" class="where left"><span>طراحی برنامه های تحت وب </span>/ PHP & MYSQL </li>
						 <li style="direction:rtl;float:right;" class="where left"><span>آموزش دوره های طراحی سایت. </span>/ Compact Web </li>
						 <li style="direction:rtl;float:right;"  class="where left"><span>برگزاری سمینارهای طراحی. </span>/ Developer </li>
					 </ul>
				 </div>
			 </div>
			 </section>
			 <!--====About End====-->
			 <!--====Resume Start====-->
			 <section id="resume"> 
			 <a href="javascript:void(0)" class="close"></a>
			 <div class="block">
			 <h1 style="direction:rtl;text-align:justify" class="resume divider">خدمات</h1>
				 <div class="block-12 left">
				 
					<div  style="direction:rtl;text-align:justify" class="service">
					<img style="float:right;" src="images/service/1.png" alt=""/>طراحی ویژه و منصر به فرد سایت شما بر گرفته شده از جدیدترین متدهای روز
					</div>
					
					<div  style="direction:rtl;text-align:justify" class="service">
					<img style="float:right;" src="images/service/2.png" alt=""/>استفاده از بهترین روشهای بینه سازی سایت شما با استفاده از متد های حرفه ای بال آمدن رنکینگ سایت شما 
					</div>
					
				 </div>
			 
				 <div class="block-12 left last">
				 
					<div  style="direction:rtl;text-align:justify" class="service">
					<img style="float:right;" src="images/service/3.png" alt=""/>استفاده از الگوریتم های برنامه نویسی نوین جهت برقراری سرعت لود بالای سایت و برقراری امنیت
					</div>
					
					<div  style="direction:rtl;text-align:justify" class="service">
					<img style="float:right;" src="images/service/4.png" alt=""/>قابلیت نمایش یکسان وب سایت ها در تمامی مرورگرهای معمول جهت جذب کاربران اینترنی
				    </div>
					
				 </div>
			 <h1 style="direction:rtl;text-align:justify" class="resume divider">رزومه</h1>
			 <p style="direction:rtl;text-align:justify">شما می توانید به صورت کلی  با کمک نمودارهای زیر توانی های اینجتنب را در قسمت های مختلف ببینید.</p>
				 
					
					    <h6 style="direction:rtl;text-align:justify">طراحی سایت</h6>
                    <div class="progress progress-success progress-striped active" style="margin-bottom: 9px;">
                    <div class="bar" style="width: 90%"></div>
                    </div>
						<h6 style="direction:rtl;text-align:justify">برنامه نویسی</h6>
                    <div class="progress progress-success progress-striped active" style="margin-bottom: 9px;">
                    <div class="bar" style="width: 70%"></div>
                    </div>
						<h6 style="direction:rtl;text-align:justify">برنامه های تحت وب</h6>
                    <div class="progress progress-success progress-striped active" style="margin-bottom: 9px;">
                    <div class="bar" style="width: 80%"></div>
                    </div>
						<h6 style="direction:rtl;text-align:justify">بهینه سازی وب سایت</h6>
                    <div class="progress progress-success progress-striped active" style="margin-bottom: 9px;">
                    <div class="bar" style="width: 50%"></div>
                    </div>
				 
				</div>
			 </section>
			 <!--====Resume End====-->		 
			 <!--====Portfolio Start====-->
			 <section id="portfolio"> <a href="javascript:void(0)" class="close"></a>
			 <div class="block">
			 <h1 style="direction:rtl;text-align:justify" class="portfolio divider">نمونه کار</h1>
				 <ul class="portfolio">
					 <li><a href="http://vimeo.com/22835484" data-gal="prettyPhoto"><img src="images/portfolio/port1.jpg" alt=""> <span>نام پروژه </span></a></li>
					 <li><a href="images/big-image-metro.jpg" data-gal="prettyPhoto"><img src="images/portfolio/port2.jpg" alt=""> <span>نام پروژه </span></a></li>
					 <li class="last"><a href="images/big-image-metro.jpg" data-gal="prettyPhoto"><img src="images/portfolio/port3.jpg" alt=""> <span>نام پروژه </span></a></li>
					 <li><a href="http://vimeo.com/22835484" data-gal="prettyPhoto"><img src="images/portfolio/port4.jpg" alt=""> <span>نام پروژه </span></a></li>
					 <li><a href="images/big-image-metro.jpg" data-gal="prettyPhoto"><img src="images/portfolio/port5.jpg" alt=""> <span>نام پروژه </span></a></li>
					 <li class="last"><a href="images/big-image-metro.jpg" data-gal="prettyPhoto"><img src="images/portfolio/port6.jpg" alt=""> <span>نام پروژه</span></a></li>
				 </ul>
				 <ul class="portfolio">
					 <li><a href="http://vimeo.com/22835484" data-gal="prettyPhoto"><img src="images/portfolio/port1.jpg" alt=""> <span>نام پروژه </span></a></li>
					 <li><a href="images/big-image-metro.jpg" data-gal="prettyPhoto"><img src="images/portfolio/port2.jpg" alt=""> <span>نام پروژه </span></a></li>
					 <li class="last"><a href="images/big-image-metro.jpg" data-gal="prettyPhoto"><img src="images/portfolio/port3.jpg" alt=""> <span>نام پروژه </span></a></li>
					 <li><a href="http://vimeo.com/22835484" data-gal="prettyPhoto"><img src="images/portfolio/port4.jpg" alt=""> <span>نام پروژه </span></a></li>
					 <li><a href="images/big-image-metro.jpg" data-gal="prettyPhoto"><img src="images/portfolio/port5.jpg" alt=""> <span>نام پروژه </span></a></li>
					 <li class="last"><a href="images/big-image-metro.jpg" data-gal="prettyPhoto"><img src="images/portfolio/port6.jpg" alt=""> <span>نام پروژه</span></a></li>
				 </ul>
			 </div>
			 </section>
			 <!--====Portfolio End====-->
			 <!--====Contact Start====-->
			 <section id="contact"> 
			 <a href="javascript:void(0)" class="close"> </a>
			 <div class="block">
			 <h1 style="direction:rtl;text-align:justify" class="contact divider">تماس</h1>
			 <p style="direction:rtl;text-align:justify">جهت برقراری تماس یا با ایمیل و شماره تلفن زیر تماس بگیرید یا از طریق فرم زیر با ما در ارتباط باشید. در اینجا فایل روزمه اینجانب نیز قرار دادم که با کلیک بر روی لینک آن میتوانید فای آن را دانلود کنید..</p>
				 <div class="block-12 left">
					 <div id="style-form">
						 <form id="form" name="form" method="post" action="http://project.pawthemes.com/metro-vcard/email.php"><div class="wrapper-block left">
						 <label for="name">نام </label>
						 <input type="text" name="name" id="name" title="Your Name" class="req-string"/>
						 </div>
						 <div class="wrapper-block left">
						 <label for="email">ایمیل</label>
						 <input type="text" name="email" id="email" title="Your E-mail" class="req-email"/>
						 </div>
						 <div class="wrapper-block left"><label for="message">پیغام</label>
						 <textarea name="message" id="message" rows="3" cols="10" title="Your Message" class="req-string"></textarea>
						 </div>
						 
						 <input type="submit" value="ارسال" class="submit btn-form" id="submit" />
						 </form>
						 <span class="sending">ارسال... </span>
						 <div class="mess center"></div>
					 </div>
				 </div>
			     <div class="block-12 left last">
					 <ul class="contact">
						 <li style="list-style-type:none;"><a style="float:right" href="#" class="vcard">دانلود رزومه </a></li>
						 <li style="direction:rtl;text-align:justify;float:right;"><img style="float:right" src="images/home.png"  data-gal="tipsy" title="آدرس"/> کرج، بلوار طالقانی </li>
						 <li style="text-align:right;float:right;"><img style="float:right" src="images/phone.png" data-gal="tipsy" title="تلفن همراه"/><span>+۹۸(۹۳۵)۱۲۳۴۵۶۷۸۹ </span></li>
						 <li style="direction:rtl;text-align:justify;float:right;"><img style="float:right" src="images/mail.png"  data-gal="tipsy" title="ایمیل"/><span><a href="mailto:hossein.sh.eng@gmail.com">hossein.sh.eng@gmail.com </a></span></li>
					 </ul>
				 </div>
			 </div>
			 </section>
			 <!--====Contact Start====-->
			 <!--====Footer Start====-->
			 <footer>
				<div style='width:auto;margin:0 auto;display:table'>
					<ul class="socialcon">
						<li><a href="https://www.facebook.com/hosseinhotmail2012" class="facebook" data-gal="tipsy" title="facebook"></a></li>
					</ul>
				</div>
			 </footer>
			<!--====Footer End====-->
		 </div>
     </div>
  </body>
</html>