{% extends "base.html" %}


{% block content %}

<h2>درباره مرکز </h2>
<br>	
<h3>الف- اهداف و ماموریت های مركز:</h3>
<p>طراحي و ساخت بازي‌هاي رايانه‌اي و فناوري‌هاي زيرساختي مرتبط با آن (نظير موتور بازي‌سازي و موتور تصويرسازي) امروزه به موضوع مهمي در كشور تبديل شده است. هدف و مأموريت اصلي اين مركز، تبديل شدن به يك مركز پژوهشي تراز اول در زمينه دانش و فناوري بازي‌هاي رايانه‌اي در سطح كشور و انجام پروژه‌هاي بنيادي و كلان در اين زمينه و ارائه مشورت‌هاي علمي و فني به وزارت‌خانه‌ها، سازمان‌ها و شركت‌ها در زمينه‌هاي مرتبط با توسعه بازي‌هاي رايانه‌اي است.</p>

<h3>ب- حوزه های فعاليت مركز:</h3>
<ul>
	<li>حوزه 1: توسعه فناوری‌های زيرساختي بازي‌سازي</li>
	<ul>
		<li>هوش مصنوعی بازی (Game AI)</li>
		<li>موتور فیزیک بازي (Game Physics)</li>
		<li>میان‌افزارهاي ریاضی بازی(Game Math)</li>
		<li>موتور تصویرسازی  (Rendering Engine)</li>
		<li>موتور پایه دوبعدی (2D Engine Group)</li>
	</ul>
	<li>حوزه 2: توسعه بازی‌هاي رايانه‌اي</li>
	<ul>
		<li>ساخت بازی‌هاي رايانه‌اي با استفاده از فناوری‌های آماده</li>
	</ul>
	<li>حوزه 3: توسعه بازي‌هاي جدي و شبیه‌سازهاي تعاملی</li>
	<ul>
		<li>توسعه بازي‌هاي جدي (مبتنی بر موتورهای بازی‌سازی یا تصویرسازی) (Serious Game)</li>
		<li>توسعه شبیه‌سازهای تعاملي (DIS)</li>
	</ul>
</ul>
{% endblock %}