<!DOCTYPE config>
<config>

<execute>ruby</execute>
<menu 	file="config/git/clone.rb"
		name="clone"
		icon = "clone_pic.png">
				<arg>PATH</arg>
				<arg>PROJECTNAME</arg>
				<arg>URL</arg>
				
</menu>
<menu 	file="config/git/add.rb"
		name="Add"
		icon = "config/git/add_pic.png">
				<arg>PATH</arg>
				<arg>FILE</arg>
</menu>
<menu 	file="config/git/commit.rb"
		name="commit"
		icon = "config/git/commit_pic.png">
			<arg>PROJECTNAME</arg>
</menu>
<menu 	file="config/git/pull.rb"
		name="pull"
		icon = "config/git/pull_pic.png">
			<arg>PROJECTNAME</arg>	
</menu>
</config>
